$header-font: #FFFFFF; 
$body-font: #4A4A49;
$hover-font: #00C43C;

$boxes: #333333;
$color-box1: #00A6FB;
$color-box2: #00C43C;
$color-box3: #FFB402;
$color-box4: #E95238;
$wheel: #f5f5f5;
$wheel-in: #FFFFFF;
$carousel: rgba(245, 245, 245, 0.6);
$left-app: #FFF4E1;
$left-app-shapes: #FFE2B1;
$right-app: #FBF9F9;
$companies: #FFFFFF;
$diagram: #FFFFFF;
$right-app-white: #FFFFFF;
$right-app-gray: #D7D7D7;
$right-app-green: #00C33B;
$right-app-yellow: #FBB315;
$right-app-red: #E85236;
$chart: #FFC160;